@use "normalize" as *;

// @mixin media($minmax, $media) {
//   @each $size, $resolution in $sizes {
//     @if $media == $size {
//       @media only screen and (#{$minmax}-width: $resolution) {
//         @content;
//       }
//     }
//   }
// }

body {
  background-color: #ffe4c4;
  header {
    h1 {
      text-align: center;
      font-weight: 700;
      color: #4d443b;
      margin-top: 2rem;
      @media (max-width: 500px) {
        font-size: 30px;
      }
    }
  }
  .main {
    &__input {
      margin-top: 3rem;
      text-align: center;
      .inputDates {
        border: 2px solid #a5a5a5;
        width: 10rem;
        height: 2rem;
        border-radius: 10px;
      }
      #changeButton {
        width: 10rem;
        height: 1.7rem;

        border-radius: 7px;
        border: 2px solid #a5a5a5;
      }
      #submitDate {
        width: 10rem;
        height: 1.7rem;
        border-radius: 7px;
        border: 2px solid #a5a5a5;
      }
    }
    &__timer-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      @media (max-width: 500px) {
        gap: 1.5rem;
      }
      .calc {
        width: 100px;
        height: 100px;
        text-align: center;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #4d443b;
        @media (max-width: 500px) {
          width: 70px;
          height: 70px;
        }
        h2 {
          margin-top: 20px;
          height: 30px;
          background: linear-gradient(
            to right,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet
          );
          background-size: 400% 400%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: rainbow 20s ease infinite;
          animation: rainbow 15s ease infinite;
          line-height: 25px;
          @media (max-width: 500px) {
            margin-top: 10px;
            margin-bottom: 0;
          }
        }
        p {
          background: linear-gradient(
            to right,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet
          );
          background-size: 400% 400%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: rainbow 20s ease infinite;
          animation: rainbow 15s ease infinite;
          line-height: 25px;
          @media (max-width: 500px) {
            height: 25px;
          }
        }
      }
    }
    &__timer-photo {
      // text-align: center;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        text-align: center;
        color: #4d443b;
        @media (max-width: 500px) {
          font-size: 25px;
        }
      }
      .wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .slider {
          &__item {
            width: auto;
            height: 400px;
            @media (max-width: 500px) {
              width: auto;
              height: auto;
            }
          }
          .slick-slide {
            opacity: 0.4;
            border: 3px solid #fff;
            margin: 0 15px;
            &.slick-center {
              opacity: 1;
            }
          }
          .slick-arrow {
            visibility: hidden;
          }
        }
      }
    }
    footer {
      p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
