body {
  background-color: bisque;
  header {
    h1 {
      text-align: center;
    }
  }
  .main__input {
    margin-top: 5rem;
    text-align: center;
    .inputDates {
      border: 2px solid #a5a5a5;
      width: 10rem;
      height: 2rem;
      border-radius: 10px;
    }
    #changeButton {
      width: 10rem;
      height: 1.7rem;

      border-radius: 7px;
      border: 2px solid #a5a5a5;
    }
    #submitDate {
      width: 10rem;
      height: 1.7rem;
      border-radius: 7px;
      border: 2px solid #a5a5a5;
    }
  }
  #textDay {
    text-align: center;
    margin-top: 2rem;
  }
  .main__timer-text {
    text-align: center;
    .inputDates {
      border: 2px solid #a5a5a5;
      width: 20rem;
      height: 2rem;
      border-radius: 10px;
    }
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
  }
}
