@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
  /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
  font-family: "Georgia", serif;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
   */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #ffe4c4;
}
body header h1 {
  text-align: center;
  font-weight: 700;
  color: #4d443b;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  body header h1 {
    font-size: 30px;
  }
}
body .main__input {
  margin-top: 3rem;
  text-align: center;
}
body .main__input .inputDates {
  border: 2px solid #a5a5a5;
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
}
body .main__input #changeButton {
  width: 10rem;
  height: 1.7rem;
  border-radius: 7px;
  border: 2px solid #a5a5a5;
}
body .main__input #submitDate {
  width: 10rem;
  height: 1.7rem;
  border-radius: 7px;
  border: 2px solid #a5a5a5;
}
body .main__timer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (max-width: 500px) {
  body .main__timer-text {
    gap: 1.5rem;
  }
}
body .main__timer-text .calc {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #4d443b;
}
@media (max-width: 500px) {
  body .main__timer-text .calc {
    width: 70px;
    height: 70px;
  }
}
body .main__timer-text .calc h2 {
  margin-top: 20px;
  height: 30px;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 15s ease infinite;
  line-height: 25px;
}
@media (max-width: 500px) {
  body .main__timer-text .calc h2 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
body .main__timer-text .calc p {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 15s ease infinite;
  line-height: 25px;
}
@media (max-width: 500px) {
  body .main__timer-text .calc p {
    height: 25px;
  }
}
body .main__timer-photo {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main__timer-photo h3 {
  text-align: center;
  color: #4d443b;
}
@media (max-width: 500px) {
  body .main__timer-photo h3 {
    font-size: 25px;
  }
}
body .main__timer-photo .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body .main__timer-photo .wrapper .slider__item {
  width: auto;
  height: 400px;
}
@media (max-width: 500px) {
  body .main__timer-photo .wrapper .slider__item {
    width: auto;
    height: auto;
  }
}
body .main__timer-photo .wrapper .slider .slick-slide {
  opacity: 0.4;
  border: 3px solid #fff;
  margin: 0 15px;
}
body .main__timer-photo .wrapper .slider .slick-slide.slick-center {
  opacity: 1;
}
body .main__timer-photo .wrapper .slider .slick-arrow {
  visibility: hidden;
}
body .main footer p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=styles.css.map */